.pagination{
    display:flex;
    justify-content: center;
}

.container-products{
    position: relative;
}

.container-products.loading::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    z-index: 1001;
    background: white;
    background-image: url(./images/loader.svg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    bottom: 0;
}

/*.ant-menu-item .ant-menu-item-only-child .ant-menu-item-selected{*/
/*    float: right;*/
/*}*/

